---
import aboutImg from '../assets/about.png'
---

<h1 class="text-5xl mb-8 font-display text-primary">À propos de moi</h1>
<div class="grid grid-cols-12 gap-4">
  <div class="card card-md col-span-12 md:col-span-6 shadow-sm">
    <div class="card-body text-2xl mb-8 col-span-12 md:col-span-6">
      <p>
        Je suis un passionné de la langue des signes française (LSF) et j'ai
        créé ce lexique pour aider les personnes à apprendre et à comprendre
        cette belle langue.
      </p>
      <p>
        Mon objectif est de rendre la LSF accessible à tous, que vous soyez
        débutant ou que vous souhaitiez approfondir vos connaissances.
      </p>
      <p>
        N'hésitez pas à explorer le lexique et à me contacter si vous avez des
        questions ou des suggestions.
      </p>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6">
    <img
      src={aboutImg.src}
      alt="À propos de moi"
      class="rounded-lg shadow-lg"
    />
  </div>
</div>
