---
import PocketBase from 'pocketbase'

import config from '../config'
const pb = new PocketBase(config.apiBaseUrl)
const categories = await pb.collection('category').getFullList({
  filter: 'Parent = null',
  expand: 'category_via_Parent',
})
---

<div class="hero card bg-base-200 rounded-box min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
      class="max-w-sm rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold">Bienvenue sur le lexique de Gee</h1>
      <p class="py-6">
        Faites une recherche dans le lexique pour trouver un signe ou une
        catégorie de signes. Vous pouvez aussi naviguer dans les catégories
        disponibles.
      </p>
      <ul>
        {
          categories.map(category => (
            <li class="ml-4 list-disc">
              <a>{category.tag}</a>
              <ul>
                {category.expand?.category_via_Parent.map((subcategory: any) => (
                  <li class="ml-4 list-square">{subcategory.tag}</li>
                ))}
              </ul>
            </li>
          ))
        }
      </ul>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
