---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout navBg="bg-black/80">
    <main class="container mt-20 mx-auto py-8">
      <slot />
    </main>
</BaseLayout>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
